.header {
  height: 40px;
  background: rgb(235, 235, 235);
  line-height: 40px;
  text-align: left;
  padding: 0px 20px;
}
.content {
  height: auto;
}
.skill-content {
  padding: 10px 20px;
  border: 1px solid lightgrey;
  border-bottom: 0;
}
.hilight{
    background: rgba(148, 224, 253, 0.425);
}
