.description {
  padding: 10px 20px;
  font-size: 14px;
}
.title {
  font-weight: bold;
}
.skill-detail-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
}
.col {
  padding: 0px;
  border: 1px solid rgba(134, 134, 134, 0.1);
  //border-bottom: 1px solid rgba(134, 134, 134, 0.1);
  min-width: 300px;
  margin: 0px 8px 10px 8px;
  cursor: default;
}
.col-a {
  flex-grow: 3.5;
}
.col-b {
  flex-grow: 3.5;
}
.col-c {
  flex-grow: 3;
}
.header {
  height: 40px;
  background: rgb(235, 235, 235);
  line-height: 40px;
  text-align: left;
  padding: 0px 20px;
}
.content {
  height: auto;
  //   border: 1px solid rgba(112, 112, 112, 0.1);
}
.skill-content {
  padding: 10px 20px;
  border: 1px solid lightgrey;
  border-bottom: 0;
}
.standard-skills,
.mapped-skills {
  display: flex;
  flex-wrap: wrap;
}
.standard-skill-content,
.mapped-skill-content {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  word-wrap: break-word;
  background: #ebebeb;
  border-bottom: 0;
  //   flex-shrink: 0;
  margin: 0px 5px 7px 0px;
  border-radius: 1px;
}
.standard-skill-content:hover,
.mapped-skill-content:hover {
    box-shadow: 1px 2px 2px 0px rgba(166,166,166,1);
}
.mapped-skill-content {
  background-color: #06ae93;
  color: white;
}

.content.standard,
.content.mapped {
  padding: 20px 20px;
}
