.header {
    height: 40px;
    background: rgb(235, 235, 235);
    line-height: 40px;
    text-align: left;
    padding: 0px 20px;
  }
.content {
  height: auto;
}
.mapped-skills {
  display: flex;
  flex-wrap: wrap;
}
.mapped-skill-content {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  word-wrap: break-word;
  background: #ebebeb;
  border-bottom: 0;
  margin: 0px 5px 7px 0px;
  border-radius: 1px;
}
.mapped-skill-content:hover {
  box-shadow: 1px 2px 2px 0px rgba(166, 166, 166, 1);
}
.mapped-skill-content {
  background-color: #06ae93;
  color: white;
}

.content.mapped {
  padding: 20px 20px;
}

.hilight{
    
}
